body{
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: #000000;
    color: #000000;
    font-family: DejaVu Sans Mono, monospace, fantasy;
    font-size: 150%;
    font-weight: 200;
    line-height: 1.65em;
}

#header{
    background-image: url('../img/banner1.jpg');
    background-size: cover;
    background-color: #444444;
    text-align: center;
    min-height: 70vh;
}

#header nav{
    background-color: #000000;
    width: 100%;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 1000;
}

#header .interno{
    margin: auto;
    padding-top: 13%;
    z-index: 1000;
}

#header h1{
    font-size: 2cm;
    padding: 0em 0.5em 0em 0.25em;
    color: #000000;
    font-weight: 900;
    line-height: 70px;
    text-transform: uppercase;
}

#header h3{
    color: #000000;
    font-weight: bold;
    font-weight: 700;
    padding: 0;
}

#header nav a{
    margin-right: 25px;
    color: #ce9d33;
    font-weight: 600;
}
/*Fim da formatação do header*/

/*----------------------------------------*/

/*Inicio da formatação do conteudo principal*/

#bloco{
    width: 40em;
    margin: 0 auto;
    padding-top: 0;
    padding-right: 5em;
    padding-bottom: 2em;
    padding-left: 5em;
}

#introducao{
    padding: 4em 4em 2em 4em;
    background-color: #d4d1df;
    border-radius: 10px;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 4em;
}

#p{
    text-align: justify;
    text-align: center;
}

#footer{
    margin: 4em auto 0 auto;
    background-color: #000000;
    width: 100%;
    text-align: center;
    font-size: 0.8em;
    color: #f1f1f1;
}

#header nav a:hover, a:hover{
    color: #0649c0;
}