body{
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: #000000;
    color: #000000;
    font-family: DejaVu Sans Mono, monospace, fantasy;
    font-size: 150%;
    font-weight: 200;
    line-height: 1.65em;
}

#header{
    background-image: url('../img/banner1.jpg');
    background-size: cover;
    background-color: #444444;
    text-align: center;
    min-height: 70vh;
}

#header nav{
    background-color: #000000;
    width: 100%;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 1000;
}

#header .interno{
    margin: auto;
    padding-top: 13%;
    z-index: 1000;
}

#header h1{
    font-size: 2cm;
    padding: 0em 0.5em 0em 0.25em;
    color: #000000;
    font-weight: 900;
    line-height: 70px;
    text-transform: uppercase;
}

#header h3{
    color: #000000;
    font-weight: bold;
    font-weight: 700;
    padding: 0;
}

#header nav a{
    margin-right: 25px;
    color: #ce9d33;
    font-weight: 600;
}
/*Fim da formatação do header*/

/*----------------------------------------*/

/*Inicio da formatação do conteudo principal*/

#bloco{
    width: 40em;
    margin: 0 auto;
    padding-top: 0;
    padding-right: 5em;
    padding-bottom: 2em;
    padding-left: 5em;
}

#introducao{
    padding: 4em 4em 2em 4em;
    background-color: #d4d1df;
    border-radius: 10px;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 4em;
}

.itens{
    display: flex;
    width: calc(100%  + 2em);
    margin: -2em 0 0 -2em;
}

.item{
    padding: 4em 4em  1em  3em;
    background-color: #d4d1df;
    border-radius: 4px;
    text-align: center;
    margin: 2em 0 0 2em;
    width: 50%;
}

.item header{
    margin: -2em 0 3em -2em;
    width: calc(100% + 6em);
    height: 10em;
    position: relative;
    overflow: hidden;
}

.item header a{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
}

#footer{
    margin: 4em auto 0 auto;
    background-color: #000000;
    width: 100%;
    text-align: center;
    font-size: 0.8em;
    color: #f1f1f1;
}

.button{
    border-radius: 4px;
    display: block;
    font-weight: 700;
    padding: 1em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.325em;
    font-size: 0.725em;
    background-color: transparent;
    border: 2px solid #ce9d33;
    color: #000000;
}

.button:hover{
    color: #000000;
    border: 2px solid #000000;
}

ul{
    padding-left: 0;
}

ul li{
    display: inline-block;
}

a{
    text-decoration: none;
}

#header nav a:hover, a:hover{
    color: #0649c0;
}